* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #050d57;
  color: white;
}

.textCenter {
  text-align: center;
  
}

.container {
  margin: 10% auto;
  width: 60%;
  
  
}

.listItems {
  background-color: aliceblue;
  color: rgb(24, 4, 73);
  text-align: center;
  margin: 0;
  padding: 0px;
  
  
  
}

.listItems span.name,
form input[type="text"] {
  width: 50%;
}

.listItems span.age,
form input[type="number"] {
  width: 30%;
}

.listItems span.action,
form input[type="submit"] {
  width: 20%;
}

.listItems span {
  border: 1px solid rgba(131, 127, 126, 0.616);
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;

}

.listItems span.title{
  
  background-color: rgb(127, 183, 247);
}

.listItems span.icon{
  color: red;
  
cursor: pointer;
font-weight: bold;
}
form input{
  padding: 10px;
  background-color: rgb(182, 178, 178);
  color: rgb(2, 1, 5);
  border: 1px solid #ccc
}

form input[type=submit]{
  background-color:cyan;
  cursor: pointer;
}